@model TeacherPortal.Models.Teacher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aadhar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aadhar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fingerprint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fingerprint)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
