@model TeacherPortal.Models.LeaveAndDesg

@{
    ViewBag.Title = "Index";
}
<h2>Leave Portal</h2>

<div>
    @using (Html.BeginForm())
    {
        @Html.ActionLink("Apply New Leave", "ApplyLeave", null, new { @class = "btn btn-default" })
        if (Model.desg == "HOD")
        {
            @Html.ActionLink("Approve Leave", "ApproveLeave", null, new { @class = "btn btn-default" })
        }
    }
</div>
<br />
@if (Model.leaves.Count() == 0)
{
    <h3>No Leaves Applied so far</h3>
}
else
{
<h4>Leaves Applied</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.leaves[0].LeaveID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leaves[0].LeaveType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leaves[0].StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leaves[0].EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leaves[0].ApprovalStatus)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.leaves)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalStatus)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.LeaveID })
            </td>
        </tr>
    }
</table>
}