@using TeacherPortal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
@{
    Layout = "";
}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RNSIT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="script" href="Scripts/script.js">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")" />
    <script language="javascript" type="text/javascript">
        window.history.forward();
        function sync() {
            var presentAddress = document.getElementById('presentAddress');
            var permanentAddress = document.getElementById('permanentAddress');
            permanentAddress.value = presentAddress.value;

        }
    </script>

</head>
</html>
<body style="background-color:#E8E8E8;">
    <div class=" container justify-content-center" style="padding-top:100px; " >
    <div class="row justify-content-center" >
        <div class="col-md-offset-4 col-md-4 form-box reg-form1 justify-content-center" style="padding-top:75px;">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group ">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12 ">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group ">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12 ">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-offset-2 col-md-12">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class=" text-center">
                        <div class="form-group justify-content-center">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default bg-light border-primary offset-md-2">
                            </div>
                        </div>

                        <p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>

                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                    </div>
                }
            </section>
        </div>
        @*@<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
    </div>
</div>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}